.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  #logo {
    max-height: 500px;
    margin-top: 20px;
  }
  
  body {
    background: #010916;
    color: #fff;
  }
  
  #logo {
    height: 120px;
  }
  
  button {
    height: 60px;
    width: 300px;
    font-size: 22px;
    background-color: #ffffff;
    border: 1px solid #4b5763;
    color: #101a2c;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 4px;
  }

  .img-logo {
    max-width: 100%;
    max-height: 100%;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    max-height: 50%;
  }
  
  .crop-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
  }
  
  .preview-button {
    height: 50px;
    width: 120px;
    font-size: 22px;
    background-color: #ffffff;
    border: 1px solid #4b5763;
    color: #101a2c;
    text-transform: uppercase;
    text-decoration-color: #010916;
    cursor: pointer;
    margin-bottom: 4px;
    border-radius: 20px;
    margin: 5%;
  }
  
  .upload-button {
    height: 50px;
    width: 120px;
    font-size: 22px;
    background-color: #ffffff;
    border: 1px solid #4b5763;
    color: #101a2c;
    text-transform: uppercase;
    text-decoration-color: #010916;
    cursor: pointer;
    margin-bottom: 4px;
    border-radius: 20px;
    margin-top: 30px;
    
  }
  
  .controls {
    position: absolute;
    bottom: 20px;
    left: 20%;
    width: 40%;
    transform: translateX(-50%);
    height: 40px;
    display: flex;
    align-items: center;
  }
  
  .slider {
    padding: 22px 0px;
  }
  
  .zoom-range {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 2px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    background: #3f51b5;
    width: 100%;
  }
  
  .zoom-range::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #3f51b5;
    background: #3f51b5;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  
  .zoom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #3f51b5;
    background: #3f51b5;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  
  .controls:hover input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
    border-radius: 50%;
  }
  
  .controls:hover input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 14%;
  }

  .images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  